title:               Home
description:         "엔트로피 학습법 및 교육 정보를 공유하는 블로그"
url:                 "https://somath-edu.github.io" 
baseurl:             ""

include:             ['_pages']
exclude:             ['_includes/notes_graph.json']

use_html_extension:  false
open_external_links_in_new_tab: true
embed_tweets: false

permalink:           pretty
relative_permalinks: false

plugins:
  - jekyll-sitemap

sass:
  sass_dir:          _sass
  style:            :compressed

collections:
  notes:
    output: true
    permalink: /:slug

defaults:
  - scope:
      path: "**/*"
    values:
      layout: "default"
  - scope:
      path: "_notes/**/*.md"
    values:
      layout: "note"
